/* ALL */

/* BODY */
body{
    font-size: 32px;
}

/* TD */
#questions td {
    border: 1px solid rgb(116, 129, 0);
    height: 200px;
    width: 500px;
}

#questions td:hover {
    background-color:  rgb(116, 129, 0);
    color: #fff;
}

.right td{
    background-color:  rgb(13, 150, 8);
    color: #fff;
}

.wrong td{
    background-color:  rgb(211, 7, 7);
    color: #fff;
}


