/* * */


* {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

/* NAV HEADER*/
.navigation-header{
    background-color: #fff;
    overflow: hidden;
}

.navigation-header a {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: .75em 1em;
    text-decoration: none;
    font-size: 1em;
}

