/* ALL */

/* BUTTON */
#button{
    background-color: #fff; 
    color:#000; 
    padding: 16px 32px;
    text-align: center;
    border: 2px solid rgb(105, 103, 221);
}

#button:hover{
    background-color: rgb(90, 88, 207);
    color: #fff;
}

/* BOARD */
.board{
    margin: 0 auto;
    border-color: #fff;
}

.board td {
    border: 1px solid rgb(105, 103, 221);
    height: 200px;
    width: 200px;
}

.board td:hover{
    background-color: rgb(105, 103, 221);
    color: #fff;
}

.td-background{
    background-color: rgb(105, 103, 221);
    color: #fff;
    text-align: center;
    font-size: 100px;
}